# avoiding numpy 2.0
numpy==1.26.2

# LangChain core libraries
langchain==0.3.26
langchain-community==0.3.27
langchain-core==0.3.68
langchain-text-splitters==0.3.8

# Google GenAI SDK
langchain-google-genai==2.1.7

# FAISS
faiss-cpu==1.11.0

# Document parsing
python-docx==1.2.0
PyMuPDF==1.26.3

# Streamlit frontend
streamlit==1.47.0

# Jupyter/IPython kernel support
ipykernel